<div class="card mb-2">
    <div class="page-header">
        <h1>Admin
        </h1>
    </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('admin.manage_post')}}">
                        Post
                    </a>
                </li>
                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('admin.manage_category')}}">
                        Category
                    </a>
                </li>
        </ul>
</div>