{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}admin{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-sm-2 sidebar">
        <div class="page-header">
            <h1>Edit Category</h1>
        </div>
            {% include 'admin/_side.html' %}
        </div>
        <div class="col-sm-10">
            {% if index == 1 %}
                {% include 'admin/manage_post.html' %}
                {% if posts %}
                    <div class="page-footer">{{ render_pagination(pagination) }}</div>
                {% endif %}
            {% else %}
                {% include 'admin/manage_category.html'%}
            {% endif %}
        </div>
        </div>
    </div>
    </div>
{% endblock %}