{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<main class="container" >
    <header  margin: 50px 0 40px 0;>
        <h1 class="text-center display-4">
            <strong>TODO</strong>
            <small class="text-muted sub-title">list</small>
        </h1>
    </header>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="text-center col-md-6 col-md-offset-3" >
    <div >
        <form class="form form-group" method="post" role="form" action="{{ url_for('todolist.add')}}">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          {{ wtf.form_field(form.text) }}
          {{ wtf.form_field(form.submit) }}
        </form>
    </div>
    <ul class="list-group" style="list-style-type:none;margin-top:40px">
        {% for item in items %}
        <li>
            <div class="text-center panel panel-default">
                <div class="col-md-1"> {{ loop.index }}</div>
                <div class="col-md-3">{{ item.content }}</div>
                <a class="col-md-2" href="{{ url_for('todolist.delete',item_id=item.id)}}">delete</a> 
                <a class="col-md-2" href="{{ url_for('todolist.done',item_id=item.id)}}">done</a> 
                {%- if item.is_finish -%}
                    <div class="col-md-2 alert-success">finished</div>
                {%- else-%}
                    <div class="col-md-2 alert-warning">unfinished</div>
                {%- endif %}
            </div>
        {% endfor %}
        </li>
    </ul>
    <footer class="text-center" style="margin-top:40px">
        {% block footer %}
            <small> &copy; 2018 <a href="" title="">yz</a> 
            </small>
        {% endblock %}
    </footer>
</main>
{% endblock %}