{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{ url_for('blog.index') }}">HOME</a>
	</div>
	<div>
		<ul class="nav navbar-nav navbar-right">
           {% if current_user.is_authenticated %} 
			<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
			<li><a href="{{ url_for('admin.manage_post')}}">Admin</a></li>
		   {% else %}
			<li><a href="{{ url_for('auth.login')}}">Login</a></li>
           {% endif %}
		</ul>
	</div>
	</div>
</nav>
{% endblock %}


{% block content %}{% endblock content %}
